
div#content{
    background-color: #fff;
}
div#footer{
}

body{;
}
div#branding{
    background-color: #2e9ad0;
 }

div#footer{
    background-color: #2e9ad0;
}
li#nav_dailypart{
    background-color: #8a8a8a;
}
li#nav_messageboard{
    background-color: #8a8a8a;
}
li#nav_index{
    background-color: #2e383c;
}
li#nav_photos{
    background-color: #2e383c;
}